*.DS_Store
*.csv
*.tgz
*.zip
*.Rhistory
data/*.Rdata
*.Rda
*.rdb
*.rdx
__packages
figures/cache/*
cache/*
submissions/*/cache/*
submissions/*/*_cache/*
submissions/.RData
submissions/cache
submissions/submission12/RData/*
submissions/submission13/RData/*
